@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    font-size: 62.5%;
    min-height: 100%;
    scroll-behavior: smooth;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
  
body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.6px;
    min-height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}

.wrapper {
    height: 80rem;
    width: 78rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 2fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-areas: 
        "balance balance"
        "form form"
        "income expenses";
    padding: 2rem 3rem;
    margin: auto;
    margin-top: 3rem;
    background-color: #EFEFEF;
    border-radius: 15px;
    box-shadow: 0 0 10px -5px #43546C;
    overflow: scroll;
}

.balance {
    grid-area: balance;
}

.balance__heading {
    font-size: 2rem;
    font-weight: 600;
    color: #5DAA72;
    margin-bottom: 1.5rem;
}

.balance__value {
    font-size: 2.4rem;
    font-weight: 500;
    color: #43546C;
    border-bottom: 1px solid #43546c25;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: form;
    padding: 2rem 3rem;
    background-color: #43546C;
    border-radius: 15px;
}

.value {
    height: 10rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid #EFEFEF;
    border-radius: 15px;
}

.plus__button {
    font-size: 1.6rem;
    color: #EFEFEF;
    height: 5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: ease 0.3s;
    cursor: pointer;
}

.plus__button:hover {
    opacity: 0.5;
    color: #43546C;
    background-color: #EFEFEF;
}

.minus__button {
    font-size: 1.6rem;
    color: #EFEFEF;
    height: 5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: ease 0.3s;
    cursor: pointer;
}

.minus__button:hover {
    opacity: 0.5;
    color: #43546C;
    background-color: #EFEFEF;
}

.input {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.number__input {
    width: 100%;
    font-size: 2.4rem;
    font-weight: 500;
    color: #EFEFEF;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #EFEFEF;
    outline: none;
}


::placeholder {
    opacity: 0.8;
    color: #EFEFEF;
}

.text__input {
    font-size: 2rem;
    font-weight: 500;
    color: #EFEFEF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #EFEFEF;
    outline: none;
}

.submit {
    height: 10rem;
    width: 30rem;
}

.submit__button {
    font-size: 2rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #EFEFEF;
    border: 2px solid #EFEFEF;
    border-radius: 15px;
    transition: ease 0.3s;
}

.submit__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.income {
    grid-area: income;
}

.income__heading {
    font-size: 2rem;
    font-weight: 600;
    color: #4C99AA;
    margin-bottom: 1.5rem;
}

.expenses {
    grid-area: expenses;
}

.expenses__heading {
    font-size: 2rem;
    font-weight: 600;
    color: #AA5D5D;
    margin-bottom: 1.5rem;
}

.value__number {
    font-size: 2.4rem;
    font-weight: 500;
    color: #43546C;
    margin-bottom: 0.5rem;
}

.value__description {
    font-size: 1.4rem;
    font-weight: 500;
    color: #43546C;
    margin-bottom: 3rem;
    border-bottom: 1px solid #43546c25;
}


